@use 'sass:color';
@use 'sass:math';
@use 'sass:map';
@use '../variable' as *; //變數
@use '../basic/mixin' as *; //mixin
main {
  background-image: url('../images/mainbg.jpg');
  background-repeat: repeat;
  background-position: center top;
  // background-color: transparent;
}
.closebtn {
  width: 30px;
  height: 30px;
  z-index: 9;
  a {
    display: block;
    font-size: 0;
    background-image: url('../images/icon_close.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 18px 18px;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    &:hover {
      background-color: rgba(0, 0, 0, 0.3);
    }
  }
}
.moreBtn {
  display: flex;
  justify-content: center;
  a {
    display: inline-block;
    min-width: 210px;
    background: #613c33;
    background: linear-gradient(180deg, rgba(97, 60, 51, 1) 17%, rgba(169, 143, 122, 1) 100%);
    color: #f4f0ed;
    font-size: Rem(18);
    padding: 16px 60px;
    text-decoration: none;
    border-radius: 50px;
    transition: 0.5s;
    &:hover {
      background: #40221d;
      background: linear-gradient(180deg, rgba(64, 34, 29, 1) 17%, rgba(112, 86, 67, 1) 100%);
    }
  }
}
